<%- include('includes/head') %>

  <%- include('includes/navbar') %>

  <div class="container">
    <div class="row">

      <div class="col-lg-8 offset-md-2 my-5">
        <h1 class="text-center">Agenda</h1>
        <p class="text-center lead">Seus contatos organizados.</p>

        <%- include('includes/messages') %>

        <div class="resposive-table">
          <table class="table my-3">
            <tr>
              <td>Wagner</td>
              <td>Trevisan</td>
              <td>199929690009</td>
              <td>tr3visan@teste.com</td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>

<%- include('includes/footer') %>
